<launch>
    <arg name="robot_id" default="robot2" />
    <arg name="feature_extract_enable" default="1"/>

    <arg name="play" default="false" />
    <arg name="record" default="false" />
    <arg name="rviz" default="true" />

    <group ns="$(arg robot_id)" >
        <rosparam command="load" file="$(find fast_lio_sam)/config/pandarXTM_33971.yaml"/>
            <param name="feature_extract_enable" type="bool" value="$(arg feature_extract_enable)"/>
            <param name="robot_id" type="string" value="$(arg robot_id)"/>
            <param name="point_filter_num" type="int" value="4"/>
            <param name="max_iteration" type="int" value="3" />
            <param name="filter_size_surf" type="double" value="0.5" />
            <param name="filter_size_map" type="double" value="0.5" />
            <param name="cube_side_length" type="double" value="1000" />
            <param name="runtime_pos_log_enable" type="bool" value="0" />
    
        <node pkg="fast_lio_sam" type="fastlio_sam_mapping" name="laserMapping" output="screen" /> 
    </group >

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="$(arg robot_id)_rviz" args="-d $(find fast_lio_sam)/rviz_cfg/$(arg robot_id).rviz" />
    </group>

    <group if="$(arg play)" >
        <node pkg="rosbag" type="play" name="$(arg robot_id)_player" args="/home/chengys/catkin_src/rosbag/frontEnd/$(arg robot_id)_pandar_test_2023-06-21.bag  --topics /$(arg robot_id)/pandar /$(arg robot_id)/forsense/imu_raw" />
    </group>

    <group if="$(arg record)" >
        <node pkg="rosbag" type="record" name="$(arg robot_id)_recorder" args="--lz4 /$(arg robot_id)/fast_lio_sam/keyframe -O /home/chengys/catkin_src/rosbag/backEnd/$(arg robot_id)_keyframes_new.bag" />
    </group>

    

    
</launch>

